# Python
__pycache__/
*.py[cod]
*.sqlite3
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Entornos virtuales
.venv/
env/
venv/

# Archivos de configuración local
.env
*.env.*

# Docker
*.log
docker-compose.override.yml
docker-compose.override.yaml
docker-compose.override
**/docker-compose.override*

# Archivos de contenedores
docker-data/
.docker/
**/volumes/*
**/tmp/
**/containers/*
**/services/*
.DS_Store

# Archivos de IDE (Visual Studio Code, PyCharm, etc.)
.vscode/
.idea/
*.swp
*.swo

# Configuración de Git
.git/
.gitignore
